package components 

templ Register() {
	<body>
		<form action="/register" method="POST">
			<label for="Email">
				Email:
				<input type="email" name="Email" id="email"/>
			</label>
			<label for="Password">
				Password:
				<input type="password" name="Password" id="password"/>
			</label>
			<button type="submit">Register</button>
		</form>
	</body>
}
